.PasswordInput {
  width: 40px;
  height: 40px;
  border: 2px solid var(--color-neutrals-n-100);
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-neutrals-n-600);
  text-align: center;

  &.Dark {
    border-color: var(--color-fixed-neutrals-n-10);
    color: var(--color-neutrals-n-600);
  }

  &:focus {
    border-width: 3px;
  }

  outline: none;
}

