.Modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ModalContainer {
  width: 800px;
  height: 600px;
  background-color: rgba(var(--color-neutrals-n-200-rgb), 0.8);
  border-radius: 10px;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ModalContent {
  flex: 1;
  display: flex;
}

.ModalHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.ModalTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-neutrals-n-600);
  width: 100%;
  text-align: center;
}

.ActionBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  z-index: 1;
}

.ActionBarItem {
  width: 16px;
  height: 16px;
  background-color: var(--color-neutrals-n-100);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.6;
  }

  &.CloseButton {
    background-color: var(--color-error);
  }

  &.MinimizeButton {
    background-color: var(--color-neutrals-gold-bg);
  }

  &.FullscreenButton {
    background-color: var(--color-primary-p-40);
  }
}

